/* Estilos para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* Estilos para el encabezado principal */
h1 {
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    margin: 0;
}

/* Estilos para el formulario de búsqueda */
form {
    text-align: center;
    margin: 20px auto;
}

input[type="text"] {
    padding: 10px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #343a40;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* Estilos para la lista de pasteles */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    background-color: #ffffff;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilos para los botones de crear pedido */
h2 {
    text-align: center;
    margin-top: 20px;
}

form[action="/crear_pedido_contado"],
form[action="/crear_pedido_credito"] {
    text-align: center;
    margin: 20px auto;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #343a40;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #1e2124;
}


/* Estilos para la barra de navegación */
nav {
    background-color: #333; /* Cambia el color de fondo según tu diseño */
    color: #fff; /* Cambia el color de texto según tu diseño */
    padding: 10px 0;
    display: flex;
    justify-content: space-between; /* Para alinear elementos a ambos lados */
    align-items: center; /* Para alinear verticalmente en el centro */
}

.logo img {
    width: 100px; /* Ajusta el tamaño del logo según tu diseño */
}

.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-menu li {
    margin-right: 20px; /* Espaciado entre elementos de navegación */
}

.nav-menu li:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento */
}

.nav-menu a {
    text-decoration: none;
    color: #000000; /* Cambia el color de enlace según tu diseño */
    font-weight: bold; /* Cambia la fuente según tu diseño */
    font-size: 16px; /* Cambia el tamaño de fuente según tu diseño */
}
