body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f0f0;
}

.fixed-cart-icon {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 999;
}

h1 {
  margin-bottom: 20px;
}

/* Estilo para las tarjetas (cards) */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.col-md-4 {
  flex-basis: calc(25% - 8px);
  margin-right: 5px;
}


@media (max-width: 1199px) {
  .col-md-4 {
    flex-basis: calc(33.3333% - 8px);
  }
}

@media (max-width: 767px) {
  .col-md-4 {
    flex-basis: calc(50% - 8px);
  }
}

/* Alinea las tarjetas en la última fila hacia la izquierda */
.row:last-child {
  justify-content: flex-start;
}

.card {
  width: calc(100% - 2px);
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  cursor: pointer;
}

.card-title {
  color: #d81b60;
  font-weight: bold;
}

.card-text {
  color: #000000;
}

.card:hover {
  transform: scale(1.05);
}

.navbar-nav .nav-link {
    color: #000000 !important;
    font-size: 18px;
    transition: color 0.3s, transform 0.3s;
}

.navbar-nav .nav-link:hover {
    color: #a8184d !important;
    transform: scale(1.2);
}

.fas.fa-shopping-cart {
  font-size: 25px;
  border: none;
  color: #d81b60;
}

.contador {
  width: 16px;
  height: 10 px;
  border-radius: 50%;
  background-color: #f36207;
  display:inline-flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-size: 10px;
  color: #ffffff;
  font-weight: bold;
}

.card-img-top{
    border-radius: 8px 8px 0px 0px;
}

.card-title {
    color: #d81b60;
    font-weight: bold;
}

    .card-text {
    color: #000000;
}
  
.card:hover {
    transform: scale(1.05); /* Cambia el factor de escala al hacer hover */
}

.btn-primary {
    background-color: #d81b60;
    border-color: #d81b60;
    color: #fff;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #a8184d;
    border-color: #a8184d;
}

/* Estilo para la barra de búsqueda */
.input-group {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    transition: transform 0.3s;
}

.input-group:hover {
  transform: scale(1.05);
}

.form-control {
    flex-grow: 1;
    border: none;
    border-radius: 25px;
    background-color: #fff;
    color: #000000;
    transition: border-color 0.3s, background-color 0.3s;
    padding-left: 30px;
    margin-top: 10px;
}

.form-control:focus {
    border-color: #a8184d;
    background-color: #fff;
    box-shadow: none;
}

.input-group-append {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 0px;
}

.btn-outline-secondary {
    border: none;
    border-radius: 25px;
    color: #fff;
    background-color: #d81b60;
}

/* Estilo para el ícono de búsqueda */
.fas.fa-search {
    color: #fff;
    font-size: 18px;
}

/* Estilo para la ventana emergente */
.modal-content {
    background-color: #fff;
    border-radius: 8px;
    transition: transform 0.3s;
    transform: scale(0.9);
}

.modal.show .modal-content {
    transform: scale(1);
}

.modal-header {
    background-color: #d81b60;
    color: #fff;
    border-bottom: none;
}

.modal-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.modal-body {
    font-family: 'Montserrat', sans-serif;
}

.modal-footer {
    background-color: #f0f0f0;
    border-top: none;
}
  
/* Estilo para el carrito de compras */
.cart-icon {
    position: fixed;
    right: 20px;
    top: 10px;
    font-size: 24px;
    color: #d81b60;
    cursor: pointer;
    transition: color 0.3s;
    border-radius: 50%;
    padding: 5px;
}

.cart-icon:hover {
    color: #a8184d;
}

/* Estilo para el botón de búsqueda cuando se presiona */
.btn-outline-secondary:hover {
    background-color: #a8184d !important;
    border-color: #a8184d !important;
    color: #fff !important;
}
