<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/login.css">
  <!-- <link rel="stylesheet" type="text" href="{{ url_for('static', filename='templates') }}"> -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <h1>LOG IN <i class="fas fa-store"></i></h1>
        <form id="loginForm" method="POST">
            <div class="form-group">
              <label for="user"><i class="fas fa-user"></i> Usuario</label>
              <input type="text" class="form-control" id="user" placeholder="Ingrese su usuario">
            </div>
            <div class="form-group">
              <label for="password"><i class="fas fa-lock"></i> Contraseña</label>
              <input type="password" class="form-control" id="password" placeholder="Ingrese su contraseña">
            </div>
            <button type="submit" class="btn btn-primary">Iniciar sesión</button>
          </form>          
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script>
    document.getElementById("loginForm").addEventListener("submit", function(event) {
  event.preventDefault();

  const username = document.getElementById("user").value;
  const password = document.getElementById("password").value;

  // Realizar la solicitud POST a la API utilizando Axios
  axios.post("http://localhost:5000/api/login", { username, password })
    .then(response => {
      if (response.status === 200) {
        const usuario = response.data.Usuario;
        const pasteles = response.data.Pasteles;
        const menus = response.data.Menus;
        const submenus = response.data.Submenus;
        const precio = response.data.Precio;
        localStorage.setItem("Menus", JSON.stringify(menus));
        localStorage.setItem("Submenus", JSON.stringify(submenus));
        localStorage.setItem('Precio', precio);
        localStorage.setItem("Pasteles", JSON.stringify(pasteles)); 
        localStorage.setItem("Usuario", usuario)
        window.location.href = "/templates/inicio.html";
      } else {
        alert("Credenciales inválidas");
      }
    })
    .catch(error => {
      console.error("Error al realizar la solicitud:", error);
    });
});

  </script>
  
  <!-- <script src="login.js"></script> -->
</body>
</html>
