<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Iniciar Sesión</title>
</head>
<body>
    <div class="login-container">
        <h1>Iniciar Sesión</h1>
        <input type="text" id="username" placeholder="Nombre de usuario">
        <input type="password" id="password" placeholder="Contraseña">
        <button id="login-button">Iniciar Sesión</button>
    </div>
    <script src="script.js"></script>
</body>
</html>
